@charset "utf-8";

/*--------------------------------------------------------------------------------------------------

   page
			   - index
						- wn
						- business

--------------------------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------------------------
  index
--------------------------------------------------------------------------------------------------*/
#slideBox {
	margin: 0 0 30px;
	border-top: 1px solid #EEEEEE;
	background: url(../image/slide_back.png) repeat 0 0;
}

#slide {
	width: 1000px;
	margin: 0 auto;
}

.sp-selected-button {
	color: #1A3F58 !important;
}

.sp-button {
	border: 1px solid #1A3F58 !important;
}

#index {
	width: 1000px;
	margin: 0 auto;
}

#index .mainBusiness {
	position: relative;
	margin: 0 0 20px;
	height: 170px;
	background: url(../image/index-01.png) #E7EBD5 no-repeat 0 100%;
}

#index .mainBusiness .text {
	position: absolute;
	top: 24px;
	right: 60px;
	width: 460px;
	line-height: 1.4;
}

#index .mainBusiness .text h3 {
	margin: 0 0 8px;
	padding: 0 0 0 22px;
	font-size: 20px;
	font-weight: bold;
	background: url(../image/arrow-01.png) no-repeat 0 5px;
}

#index .shopBox {
	width: 900px;
	margin: 0 auto;
}

#index .shopBox div.horinan {
	float: left;
	width: 400px;
}

#index .shopBox div.nishi {
	float: right;
	width: 400px;
}

#index .shopBox div p {
}

#index .shopBox div dl {
	position: relative;
	z-index: 100;
	margin: 0 0 10px;
}

#index .shopBox div dl dt {
	display: block;
	width: 280px;
	margin: -20px auto 0;
	padding: 8px 0;
	text-align: center;
	font-size: 18px;
	letter-spacing: 1px;
	background: url(../image/shop_back.png) no-repeat center 0;
}

#index .meal {
	margin: 0 0 40px;
	text-align: center;
}

.wnList {
	width: 900px;
	margin: 0 auto 30px;
	padding: 0;
	list-style: none;
}

.wnList li {
	margin: 0;
	padding: 0;
}

.wnList li a {
	display: block;
	text-decoration: none;
	color: #000000;
	padding: 8px 8px 8px 22px;
	background: url(../image/arrow-04.png) no-repeat 8px 16px;
}

.wnList li a:hover, .wnList li a:active {
	text-decoration: underline;
}

.wnList li a span {
	display: inline-block;
	width: 160px;
}

.wnList li:nth-child(odd) {
	background-color: #E7EBD5;
}

#index h2 {
	position: relative;
	text-align: center;
	font-weight: bold;
	margin: 0 0 20px;
}

#index h2 span.jpn {
	display: inline-block;
	border-bottom: 3px solid #1A3F58;
	font-size: 24px;
	letter-spacing: 1px;
	padding: 0 10px;
}

#index h2 span.en {
	display: block;
	border-bottom: none;
	color: #888888;
	padding: 5px 0 0;
}


/*------------------------------------------------------------------------------------------------
  wn
--------------------------------------------------------------------------------------------------*/
#secondTitle .wn {
	background: url(../image/wn_title_back.png) no-repeat 0 0;
}

.wnTitle {
	margin: 0 0 5px;
	padding: 0 0 0 16px;
	letter-spacing: 1px;
	background: url(../image/arrow-04.png) no-repeat 0 11px;
	font-size: 18px;
	font-weight: bold;
}

.wnCont {
	margin: 0 0 30px;
	background-color: #F3F5EA;
	padding: 20px;
}

.wnDetail {
	margin: 0 0 60px;
	padding: 0;
	list-style: none;
}

.wnDetail li {
	margin: 0;
	padding: 0;
}

.wnDetail li a {
	display: block;
	padding: 5px 5px 5px 32px;
	border-bottom: 1px dashed #D6DCB6;
	background: url(../image/arrow-05.png) no-repeat 10px 10px;
	background-size: 14px;
	color: #000000;
	text-decoration: none;
}

.wnDetail li a:hover, .wnDetail li a:active {
	background: url(../image/arrow-05.png) #F3F5EA no-repeat 10px 10px;
	background-size: 14px;
}


/*------------------------------------------------------------------------------------------------
  business
--------------------------------------------------------------------------------------------------*/
#secondTitle .business {
	background: url(../../business/image/business_title_back.png) no-repeat 0 0;
}

.businessImage {
	margin: 0 100px 20px;
	padding: 0;
	list-style: none;
}

.businessImage li {
	float: left;
	margin: 0 20px 20px 0;
	padding: 0;
}

.businessImage li:nth-child(3n) {
	margin: 0 0 20px;
}

.businessImage li img {
	border-radius: 5px;
}

/*------------------------------------------------------------------------------------------------
  company
--------------------------------------------------------------------------------------------------*/
#secondTitle .company {
	background: url(../../company/image/company_title_back.png) no-repeat 0 0;
}

.companyTb {
	width: 100%;
	margin: 0 0 60px;
}

.companyTb th {
	width: 140px;
	padding: 15px;
	border-bottom: 1px solid #DEDEDE;
	text-align: left;
	vertical-align: middle;
}

.companyTb td {
	padding: 15px 15px 15px 30px;
	border-bottom: 1px solid #DEDEDE;
	position: relative;
	vertical-align: middle;
}

.companyTb td::before {
 position: absolute;
 bottom: 0;
 left: 0;
 top: 0;
 content: "";
 margin: auto;
 width: 1px;
 height: 80%;
 height: calc(100% - 30px);
 background: #DEDEDE;
}

.companyLogo {
	float: right;
	margin: 0 60px 20px;
}

.message {
	float: right;
	margin: 0 0 10px 10px;
}

/*------------------------------------------------------------------------------------------------
  contact
--------------------------------------------------------------------------------------------------*/
#secondTitle .contact {
	background: url(../../contact/image/contact_title_back.png) no-repeat 0 0;
}

.contactBox {
	margin: 0 100px 30px;
	padding: 20px;
	background-color: #F3F3F3;
	text-align: center;
}

.contactBox img {
	vertical-align: -6px;
	margin: 0 14px 0 0;
}

.contactBox p {
	margin: 0 !important;
	font-size: 16px;
}

.contactBox span {
	font-size: 40px;
	font-family: Arial, Helvetica, sans-serif;
}


/*------------------------------------------------------------------------------------------------
  recruit
--------------------------------------------------------------------------------------------------*/
#secondTitle .recruit {
	background: url(../../recruit/image/recruit_title_back.png) no-repeat 0 0;
}

.recMessage {
	text-align: center;
}

.recruitTb {
	width: 100%;
	margin: 0 0 30px;
	border-collapse: separate;
	border-spacing: 2px;
}

.recruitTb th {
	width: 140px;
	padding: 15px;
	border-bottom: 1px solid #DEDEDE;
	text-align: left;
	vertical-align: middle;
	background-color: #F3F5EA;
}

.recruitTb td {
	padding: 15px 15px 15px 30px;
	border-bottom: 1px solid #DEDEDE;
	position: relative;
	vertical-align: middle;
}

.interviewList {
}

.interviewList a {
	display: block;
	float: left;
	width: 465px;
	height: 160px;
	margin: 0 30px 20px 0;
	background-color: #F3F5EA;
}

.interviewList a:nth-child(2n) {
	margin: 0 0 20px;
}

.interviewList div {
	position: relative;
	width: 465px;
	height: 160px;
}

.interviewList div dl {
	position: absolute;
	top: 38px;
	left: 20px;
	width: 270px;
	font-size: 18px;
	line-height: 1.4;
}

.interviewList div dl dt {
	margin: 0;
	padding: 0 0 10px;
	font-weight: bold;
}

.interviewList div dl dd {
	padding: 10px 0 0;
	border-top: 2px solid #FFF;
}

.interviewList div dl dd span {
	display: block;
	font-size: 14px;
}

.interviewList div p {
	position: absolute;
	bottom: 0;
	right: 10px;
	margin: 0 !important;
}


.interviewList a {
	color: #000000 !important;
}

.interviewList a div:hover {
	background-color: #E7EBD5;
}

.intQa {
	margin: 0 60px 60px;
}

.intQa .qaL {
	float: left;
	width: 500px;
}

.intQa .qaImgR {
	float: right;
	width: 300px;
	text-align: right;
}

.intQa .qaR {
	float: right;
	width: 500px;
}

.intQa .qaImgL {
	float: left;
	width: 300px;
	text-align: right;
}

.intQa dt {
	margin: 0 0 20px;
	padding: 0 0 0 26px;
	font-size: 20px;
	font-weight: bold;
	background: url(../../recruit/image/q.png) no-repeat 0 center;
	background-size: 22px;
	color: #7C873F;
}







